form {
  height: 300px;
  width: 400px;
  border: 2px solid #000;
}

.form-control {
  width: 350px;
  height: 35px;
  border-radius: 4px;
  margin: 5px auto;
}

.wrapperRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperRegister p {
  font-size: 14px;
  margin-top: 15px;
}

.wrapperRegister p span {
  color: #2fd9b9;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s;
}

.wrapperRegister p span:hover {
  color: #3dd5f3;
  transition: 0.5s;
}
