footer {
  background-color: #432818;
}

footer ul {
  list-style: none;
}

footer p,
footer h3 {
  color: #f0ead2;
}

footer h3 {
  font-weight: normal;
}

.footer-link {
  font-size: 13px;
  text-align: center;
  color: #ffe6a7;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 3px;
}

.footer-link:hover {
  color: #935e38;
  transition: 0.5s;
  scale: 1.1;
}

.col-md-4{
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-solid {
  font-size: 40;
  color: #ffe6a7;
}

.col-md-4 img {
  width: 25px;
  height: 25px;
}

@media (min-width: 1200px) {
  .col-md-4 img {
    display: none;
  }
}

@media (max-width: 1200px){
  .col-md-4 h3 {
    font-size: 22px;
  }
  .col-md-4 img {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-md-4 h3 {
    font-size: 18px;
  }
  .col-md-4 img {
    display: none;
  }
}

@media (max-width: 500px) {
  .col-md-4 h3 {
   display: none;
  }
  .col-md-4 img {
    display:initial;
    margin-left: 220px;
  }
}