footer {
  background-color: #432818;
}

footer ul {
  list-style: none;
}

footer p,
footer h3 {
  color: #f0ead2;
}

footer h3 {
  font-weight: normal;
}

.footer-link {
  font-size: 13px;
  text-align: center;
  color: #ffe6a7;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 3px;
}

.footer-link:hover {
  color: #935e38;
  transition: 0.5s;
  scale: 1.1;
}

.col-md-4{
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1200px){
  footer h3{
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  footer h3{
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  footer h3{
    font-size: 18px;
  }
}