nav {
  background-color: rgba(67, 40, 24, 0.9);
}

nav h1 {
  color: #edc4b3;
}

nav p {
  color: #b07d62;
  font-size: 14px;
  font-style: italic;
}

nav a {
  text-decoration: none;
}

.navbar-brand {
  margin-right: 0;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
}

.headerWrapper,
.headerWrapper p,
nav img {
  cursor: pointer;
}

.container img {
  width: 72px;
  height: 72px;
}

@media (max-width: 1200px){
  .container img {
    width: 69px;
    height: 69px;
  }
}

@media (max-width: 992px) {
  .container img {
    width: 66px;
    height: 66px;
  }
}

@media (max-width: 768px) {
  .container img {
    width: 63px;
    height: 63px;
  }
}