nav {
  background-color: rgba(67, 40, 24, 0.9);
}

nav h1 {
  color: #edc4b3;
}

nav p {
  color: #b07d62;
  font-size: 14px;
  font-style: italic;
}

nav a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper,
.wrapper p,
nav img {
  cursor: pointer;
  transition: 0.5s;
}

.wrapper:hover,
.wrapper p:hover,
nav img:hover {
  scale: 1.02;
  transition: 0.5s;
}
