nav {
  background-color: rgba(67, 40, 24, 0.9);
}

nav h1 {
  color: #edc4b3;
}

nav p {
  color: #b07d62;
  font-size: 14px;
  font-style: italic;
}

nav a {
  text-decoration: none;
}

.navbar-brand {
  margin-right: 0;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
}

.headerWrapper,
.headerWrapper p,
nav img {
  cursor: pointer;
}
