.peopleBackground {
  height: 100%;
  background-color: #ffedd8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.peopleBackground ul {
  list-style: none;
}

.peopleBackground ul li p:hover {
  cursor: pointer;
  text-decoration: underline;
}
